@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200');

.page__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #333;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #333;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__group input {
    padding: 0.7rem;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

form button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}